# Node
node_modules/
build/
dist/
.env

# React
frontend-react/node_modules/
frontend-react/build/
frontend-react/.env

# Python
**/__pycache__/
**/*.pyc
venv/

# Editor
.vscode/
.idea/

# Logs
*.log
